
<section class="container">
    <h3 class="blog-title">
        {{ blog.post_title }}
    </h3>
    <section class="content">
        <h4 class="author">Author: {{ blog.author }}</h4>
        <br>
        <h5 class="post">{{blog.contents}}</h5>
    </section>
    
    This is a dashboard
</section>
