{{#each blog as |blog|}}
<div class='home-container'>
  <section class='blog-section'>
    <h2>
      <div class='/posts/{{blog.id}}'>{{blog.post_title}}</div>
    </h2>
    <h3>
      <p>
        Author: {{blog.author}}
      </p>
    </h3>
    <h4>
      <p>{{blog.contents}}</p>
    </h4>
  </section>
</div>

{{/each}}