
<section class="container">
    <h3 class="blog-title">
        {{ blog.post_title }}
    </h3>
    <h4 class="content">
        {{ blog.author }}
        {{blog.contents}}
    </h4>
    
    This is a dashboard
</section>
