.header-container {
    position: relative;
    background-color:sandybrown;
    padding: 10px;
    /* text-align: center; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;

}

h1 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    width: 100%;
}

#italics{
    font-family: cursive;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0px;
    margin-left: 50px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navBtn {
    display: block;
    margin: 5px;
    width: 150px;
}

#logout {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}


.author {
    font-style: italic;
    color:silver;
    margin-bottom: 8px;
}


.blog-section {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: sandybrown solid 5px;
}

#comment-form {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#comment-text {
    font-size: 16px;
    padding: 4px;
}

.comment-input {
    width: 70%;
    font-size: 13px;
    margin: 5px;
}

.commentBtn {
    max-height: 100px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#secret {
    display: none;
}