.header-container {
    background-color:sandybrown;
    padding: 20px;
    /* text-align: center; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;

}

h1 {
    position:absolute;
    display: flex;
    justify-content: center;
    font-size: 80px;
    width: 100%;
}

#italics{
    font-family: cursive;
}

.navbar {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 5px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navBtn {
    display: block;
    margin: 5px;
    width: 150px;
}

a {
    text-decoration: none;
    color: white;
}


.author {
    font-style: italic;
    color:silver;
    margin-bottom: 8px;
}


.blog-section {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: sandybrown solid 5px;
}